@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  background: #ecf0f1;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.header:after {
  display: table;
  content: "";
  clear: both;
}

.header .logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 70px;
  height: 70px;
}

.header .logo h1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background: #f1f1f1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #777;
  line-height: 1;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.header .navbar {
  position: relative;
  float: left;
  width: auto;
  height: 70px;
}

.header .global_nav {
  position: relative;
  width: 100%;
  height: 70px;
}

.header .global_nav ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

.header .global_nav li {
  display: inline-block;
}

.header .global_nav a {
  display: block;
  line-height: 1;
  text-decoration: none;
  padding: 27px 12px;
  font-size: 17px;
  color: #555;
}

.container {
  position: relative;
  padding: 0 15px;
}

.container:after {
  display: table;
  content: "";
  clear: both;
}

.content {
  position: relative;
  width: 100%;
}

.content:after {
  display: table;
  content: "";
  clear: both;
}

.content .time-range {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0;
}

.content .time-range:after {
  display: table;
  content: "";
  clear: both;
}

.content .from,
.content .to,
.content .rest-hour {
  position: relative;
  width: 200px;
  float: left;
  box-sizing: border-box;
}

.content .from:after,
.content .to:after,
.content .rest-hour:after {
  display: table;
  content: "";
  clear: both;
}

.content .from .heading,
.content .to .heading,
.content .rest-hour .heading {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
}

.content .from .heading h4,
.content .to .heading h4,
.content .rest-hour .heading h4 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #2a2e3e;
  display: inline-block;
}

.content .from .heading h4:after,
.content .to .heading h4:after,
.content .rest-hour .heading h4:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2a2e3e;
}

.content .rest-hour {
  margin-left: 50px;
}

.content .rest-hour .unit {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .rest-hour .unit h1 {
  font-size: 18px;
  font-weight: 400;
  margin: 4px 0 0 0;
}

.content .semicolon {
  float: left;
  width: 6%;
  display: block;
}

.content .semicolon h4 {
  font-size: 25px;
  margin: 0;
  text-align: center;
  display: block;
}

.content .hour,
.content .minute {
  position: relative;
  float: left;
  width: 47%;
  padding: 2px;
  box-sizing: border-box;
  background: #ecf0f1;
}

.content .hour .increase,
.content .hour .decrease,
.content .minute .increase,
.content .minute .decrease {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #888;
  padding: 5px 2px;
  line-height: 1;
  background: #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.content .hour .increase:hover,
.content .hour .decrease:hover,
.content .minute .increase:hover,
.content .minute .decrease:hover {
  background: rgba(196, 193, 193, 0.5);
}

.content .hour .increase,
.content .minute .increase {
  border-radius: 3px 3px 0 0;
}

.content .hour .decrease,
.content .minute .decrease {
  border-radius: 0 0 3px 3px;
}

.content .time-input {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  padding: 10px 5px;
  margin: 1px 0;
  font-size: 24px;
  color: #555;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.content .tasks-range {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.content .tasks-range:after {
  display: table;
  content: "";
  clear: both;
}

.content .tasks-range .time-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background: #ccc;
  margin-bottom: 10px;
  float: left;
  display: block;
}

.content .tasks-range .time-bar:after {
  display: table;
  content: "";
  clear: both;
}

.content .tasks-range .time-bar span {
  position: relative;
  float: left;
  width: 4.16666667%;
  background: #333;
  height: 3px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.content .tasks-range .time-bar span:nth-child(1):before {
  content: "06:00";
}

.content .tasks-range .time-bar span:nth-child(2):before {
  content: "7:00";
}

.content .tasks-range .time-bar span:nth-child(3):before {
  content: "8:00";
}

.content .tasks-range .time-bar span:nth-child(4):before {
  content: "9:00";
}

.content .tasks-range .time-bar span:nth-child(5):before {
  content: "10:00";
}

.content .tasks-range .time-bar span:nth-child(6):before {
  content: "11:00";
}

.content .tasks-range .time-bar span:nth-child(7):before {
  content: "12:00";
}

.content .tasks-range .time-bar span:nth-child(8):before {
  content: "13:00";
}

.content .tasks-range .time-bar span:nth-child(9):before {
  content: "14:00";
}

.content .tasks-range .time-bar span:nth-child(10):before {
  content: "15:00";
}
.content .tasks-range .time-bar span:nth-child(11):before {
  content: "16:00";
}
.content .tasks-range .time-bar span:nth-child(12):before {
  content: "17:00";
}
.content .tasks-range .time-bar span:nth-child(13):before {
  content: "18:00";
}
.content .tasks-range .time-bar span:nth-child(14):before {
  content: "19:00";
}
.content .tasks-range .time-bar span:nth-child(15):before {
  content: "20:00";
}
.content .tasks-range .time-bar span:nth-child(16):before {
  content: "21:00";
}
.content .tasks-range .time-bar span:nth-child(17):before {
  content: "22:00";
}
.content .tasks-range .time-bar span:nth-child(18):before {
  content: "23:00";
}
.content .tasks-range .time-bar span:nth-child(19):before {
  content: "24:00";
}
.content .tasks-range .time-bar span:nth-child(20):before {
  content: "25:00";
}
.content .tasks-range .time-bar span:nth-child(21):before {
  content: "26:00";
}
.content .tasks-range .time-bar span:nth-child(22):before {
  content: "27:00";
}
.content .tasks-range .time-bar span:nth-child(23):before {
  content: "28:00";
}
.content .tasks-range .time-bar span:nth-child(24):before {
  content: "29:00";
}
.content .tasks-range .time-bar span:before {
  position: absolute;
  background: #333;
  top: -26px;
  left: -9px;
  z-index: 1;
  content: "";
  font-size: 11px;
  color: #fff;
  display: block;
  width: 34px;
  box-sizing: border-box;
  padding: 2px 1px;
  text-align: center;
  line-height: 1;
  height: 16px;
  transform: rotate(-35deg);
}

.content .tasks-range .hours-range {
  list-style-type: none;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}

.content .tasks-range .task-hour {
  float: left;
  width: 4.16666667%;
  padding: 1px;
  box-sizing: border-box;
}

.content .tasks-range .tasks-select {
  /* -webkit-appearance: none;
      -moz-appearance: none;
      ms-appearance: none;
      appearance: none; */
  outline: none;
  display: block;
  position: relative;
  width: 100%;
  padding: 3px 0;
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  background: #fff;
  color: #666;
}

.content .tasks-range .tasks {
  position: relative;
}

.content .tasks-range .tasks .task {
  position: relative;
  /*  &:before{
          position:absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: "\f078";
          z-index: 0;
          font: normal normal normal 12px/1 FontAwesome;
          color: #666;

        } */
}

.content .divider {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.content .divider h1 {
  font-size: 40px;
  margin: 40px 0 0 0;
}
